<div class='app flex-line-center'>
    <div class='form-wrapper flex-column-center'>
        {{> Heading title='Вход' className='form-wrapper__header' }}
        <form>
            {{> Input id='login-input' name='login' type='text' label='Логин' for='login' placeholder='Логин' className='form-input'}}
            {{> Input id='password-input' name='password' type='password' label='Пароль' for='password' placeholder='Пароль' className='form-input'}}
            <div class='form-footer full-width'>
                {{> Button id='login-submit' text='Авторизоваться' className='form-button full-width' disable=true }}
                {{> Link href='#' data-page='Registration' text='Нет аккаунта?' className='link' }}
            </div>
        </form>
    </div>

    {{> Footer}}
</div>
