.input-group {
    position: relative;
}

.input-field {
    background: transparent;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: transparent;
    }
}

.input-label {
    color: var(--text-secondary-color);
    position: absolute;
    top: 2rem;
    left: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
