<div class='app flex-line-center'>
    <div class='form-wrapper flex-column-center'>
        {{> Heading title='Регистрация' className='form-wrapper__header' }}
        <form>
            {{> Input id='email-input' name='email' type='email' label='Почта' for='email' placeholder='Почта' className='form-input'}}
            {{> Input id='login-input' name='login' type='text' label='Логин' for='login' placeholder='Логин' className='form-input'}}
            {{> Input id='name-input' name='first_name' type='text' label='Имя' for='first_name' placeholder='Имя' className='form-input'}}
            {{> Input id='second_name-input' name='second_name' type='text' label='Фамилия' for='second_name' placeholder='Фамилия' className='form-input'}}
            {{> Input id='phone-input' name='phone' type='text' label='Телефон' for='phone' placeholder='Телефон' className='form-input'}}
            {{> Input id='password-input' name='password' type='password' label='Пароль' for='password' placeholder='Пароль' className='form-input'}}
            {{> Input id='password-check-input' name='password_check' type='password' label='Пароль (еще раз)' for='password_check' placeholder='Пароль (еще раз)' className='form-input'}}
            <div class='form-footer full-width form-footer__registration'>
                {{> Button id='registration-submit' text='Зарегистрироваться' className='form-button full-width' disable=isDisable }}
                {{> Link href='#' data-page='Login' text='Войти' className='link' }}
            </div>
        </form>
    </div>
</div>
