<div class='app flex'>
  {{> BackLink link='Chat' }}
  <div class='flex-line-center flex-column-center full-width'>
      {{> Avatar path='/icons/avatar.svg' }}
      <p class='username'>Иван</p>
  </div>
</div>
