<div class="app flex-line-center">
    <div class="form-wrapper flex-column-center">
        {{> Header title="Регистрация" className="form-wrapper__header" }}
        {{> Input id="email-input" name="email" type="email" label="Почта" for="email" placeholder="Почта" className="registration-form-input"}}
        {{> Input id="login-input" name="login" type="text" label="Логин" for="login" placeholder="Логин" className="registration-form-input"}}
        {{> Input id="name-input" name="first_name" type="text" label="Имя" for="first_name" placeholder="Имя" className="registration-form-input"}}
        {{> Input id="second_name-input" name="second_name" type="text" label="Фамилия" for="second_name" placeholder="Фамилия" className="registration-form-input"}}
        {{> Input id="phone-input" name="phone" type="text" label="Телефон" for="phone" placeholder="Телефон" className="registration-form-input"}}
        {{> Input id="password-input" name="password" type="password" label="Пароль" for="password" placeholder="Пароль" className="registration-form-input"}}
        {{> Input id="password-check-input" name="password_check" type="password" label="Пароль (еще раз)" for="password_check" placeholder="Пароль (еще раз)" className="registration-form-input"}}
        <div class="form-footer form-footer__registration">
            {{> Button id="login-submit" text="Зарегистрироваться" className="form-footer-button" disable=isDisable }}
            {{> Link href="#" data-page="login" text="Войти" className="form-footer-link" }}
        </div>
    </div>
</div>
