<div class="app flex-line-center">
    <div class="form-wrapper flex-column-center">
        {{> Header title="Вход" className="form-wrapper__header" }}
        {{> Input id="login-input" name="login" type="text" label="Логин" for="login" placeholder="Логин" className="login-from-input"}}
        {{> Input id="password-input" name="password" type="password" label="Пароль" for="password" placeholder="Пароль" className="login-from-input"}}
        <div class="form-footer">
            {{> Button id="login-submit" text="Авторизоваться" className="form-footer-button" disable=isDisable }}
            {{> Link href="#" data-page="registration" text="Нет аккаунта?" className="form-footer-link" }}
        </div>
    </div>
</div>
