<div class='app flex-line-center flex-column-center'>
    {{> Header title='500' className='error-page__title' }}
    <br/>
    <p class='error-page__descr'>Мы уже фиксим</p>
    {{> Link href='#' data-page='chat' text='Назад к чатам' className='form-footer-link' }}
</div>
