<div class='footer'>
    Остальные страницы
    <div>
        {{> Link href='#' data-page='NotFound' text='404' className='link' }}
        {{> Link href='#' data-page='Error' text='500' className='link' }}
        {{> Link href='#' data-page='Config' text='Настройки профиля' className='link' }}
        {{> Link href='#' data-page='Chat' text='Чат' className='link' }}
    </div>
</div>
