<div class='footer'>
    Остальные страницы
    <nav>
        <ul>
            <li>{{> Link href='#' data-page='NotFound' text='404' className='link link_mt' }}</li>
            <li>{{> Link href='#' data-page='Error' text='500' className='link link_mt' }}</li>
            <li>{{> Link href='#' data-page='Config' text='Настройки профиля' className='link link_mt' }}</li>
            <li>{{> Link href='#' data-page='Chat' text='Чат' className='link link_mt' }}</li>
        </ul>
    </nav>
</div>
