<div class='footer'>
    Остальные страницы
    <div>
        {{> Link href='#' data-page='notFound' text='404' className='form-footer-link' }}
        {{> Link href='#' data-page='error' text='500' className='form-footer-link' }}
        {{> Link href='#' data-page='config' text='Настройки профиля' className='form-footer-link' }}
        {{> Link href='#' data-page='chat' text='чат' className='form-footer-link' }}
    </div>
</div>
