<div class='app flex-line-center flex-column-center'>
    {{> Heading title='500' className='error-page__title' }}
    <br/>
    <p class='error-page__descr'>Мы уже фиксим</p>
    {{> Link href='#' data-page='Chat' text='Назад к чатам' className='link' }}
</div>
